<h2>Edit Flashcard</h2>

<%= form_with(model: @flashcard, local: true) do |form| %>
  <div class="field">
    <%= form.label :term %>
    <%= form.text_field :term %>
  </div>

  <div class="field">
    <%= form.label :translation %>
    <%= form.text_field :translation %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Flashcard' %>
  </div>
<% end %>
