<!-- app/views/flashcards/edit.html.erb -->
<%= form_for @flashcard do |f| %>
  <div class="field">
    <%= f.label :term %>
    <%= f.text_field :term %>
  </div>

  <div class="field">
    <%= f.label :translation %>
    <%= f.text_field :translation %>
  </div>

  <div class="field">
    <%= f.label :learning %>
    <%= f.check_box :learning %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Flashcard' %>
  </div>
<% end %>
