<!-- app/views/home/index.html.erb -->
<% if controller_name != 'sessions' && controller_name != 'registrations' %>
  <h1 class="mt-4 mb-4">
    <% if user_signed_in? %>
      Welcome back, <%= current_user.email %>!
    <% else %>
      Menu
    <% end %>
  </h1>
<% end %>

<!-- Tabs -->
<div class="mb-4">
  <ul class="nav nav-tabs">
    <li class="nav-item"><%= link_to 'Create Flashcard', new_flashcard_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'My Flashcards', my_flashcards_path, class: 'nav-link' %></li>
  </ul>
</div>

<!-- Флеш-картки користувача -->
<div class="flashcards">
  <table class="table">
    <thead>
      <tr>
        <th>Term</th>
        <th>Translation</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @flashcards.each do |flashcard| %>
        <tr>
          <td><strong>Term:</strong> <%= flashcard.term %></td>
          <td class="translation"><strong>Translation:</strong> <%= flashcard.translation %></td>
          <td>
            <%= link_to 'Show', flashcard, class: 'btn btn-info mr-2' %>
            <%= link_to 'Edit', edit_flashcard_path(flashcard), class: 'btn btn-warning mr-2' %>
            <%= link_to 'Delete', flashcard, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Інші елементи вашого інтерфейсу -->

<!-- JavaScript-код залишився без змін -->
