<!-- app/views/flashcards/new.html.erb -->
<h1>Create a new flashcard</h1>

<%= form_with(model: @flashcard, url: flashcards_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :term %>
    <%= form.text_field :term %>
  </div>

  <div class="field">
    <%= form.label :translation %>
    <%= form.text_field :translation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
